<h1>Ihr Bug wurde versendet</h1>
<%= "Vielen Dank für Ihren Verbesserungsvorschlag.
Wir werden das Problem so schnell wie möglich lösen.

Ihr Bug-Team" %>


<%= link_to "Weitere Bugs hinzufügen", bugs_path %>	<%= link_to "Zurück", :back %>
